body {
    text-align: center;
    background-color: aqua;
}
h1{
    font-size: 40px;
}
home img{
    border: 3px solid #fff;
    border-radius: 50%;
}
img {
    border-radius: 500px;
}
p {
    font-size: 30px;
}
marquee{
    font-size: 20px;
} 
